.side-menu{
  display: flex;
  background-color: white;
  flex-direction: column;
  /* margin-left: 2%; */
  padding: 2%;
  margin-top: 2%;
  margin-right: 2%;
  position: relative;
  overflow: auto;
  width:30% !important;
}

.side-menu-item{
  display: flex;
  align-items: space-between !important;
}

.search-bar{
  margin-right: auto;
}
a{
  text-decoration: none;
}