#login-form {
  display: flex;
  flex-direction: column;
  border: blueviolet;
  border-style: groove;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 10px 13px;
  margin: auto;
  background-color: rgb(64 0 71 / 10%);
  font-size: x-large;
}

.password-wrapper {
  display: flex;
  flex-direction: row;
}


.MuiCheckbox-colorPrimary.Mui-checked {
  color: #dc4c4c !important;
  }